@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
html {
  background-color: #34345c;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: none;
}

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-row {
  width: 90%;
  height: 45%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
}

.bottom-row {
  width: 90%;
  height: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
}

.vertical-buttons-16 {
  width: 20%;
  height: 90%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 5%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.vertical-buttons-8 {
  width: 45%;
  height: 90%;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 5%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
  color: #5f5f5f;
  flex-direction: row;
  display: flex;
}

.quarter {
  width: 45%;
  height: 90%;
}

.vertical-eigth {
  width: 20%;
  height: 90%;
}

.horizontal-eigth {
  width: 100%;
  height: 40%;
}

.sixteenth {
  width: 100%;
  height: 45%;
}

.horizontal {
  width: 75%;
  height: 15%;
}

.page-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.text-input-long {
  height: 20%;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
  color: #5f5f5f;
  padding-left: 10px;
  box-sizing: border-box;
}

.vertical-inputs {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5%;
  padding: 0;
  margin-top: 0%;
}

.text-input-short {
  height: 100%;
  width: 80%;
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
  color: #5f5f5f;
  padding-left: 10px;
}

.validate {
  height: 100%;
  width: 10%;
  border: none;
  border-radius: 100%;
  background-color: red;
  margin-left: 5%;
}

.page-position {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field {
  position: relative;
  width: 330px;
  height: 170px;
}

.hidden {
  display: none;
}

.position-text {
  color: #d9d9d9;
}

.page-notes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checks {
  background-color: #d9d9d9;
  width: 80%;
  height: 10%;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 5%;
  flex-wrap: wrap;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
}

.checkbox {
  height: 1.5vw;
  width: 1.5vw;
  margin: 0;
}

[type="checkbox"] {
  vertical-align: middle;
}

.match-notes {
  background-color: #d9d9d9;
  width: 80%;
  height: 50%;
  resize: none;

  border-radius: 10px;
  border: none;
  margin: 5%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;

  padding: 1%;
}

.notes-advance {
  width: 50%;
  height: 5%;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin-bottom: 5%;

  border-radius: 10px;
  border: none;

  background-color: #d9d9d9;
  color: #5f5f5f;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
}

.page-qr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.code {
  width: 25vw;
  height: 25vw;
}

.qr-button {
  width: 60%;
  height: 5%;
  text-align: center;
  vertical-align: middle;
  padding: 0;

  border-radius: 10px;
  border: none;

  background-color: #d9d9d9;
  color: #5f5f5f;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
}

#field-img {
  width: 100%;
  height: 100%;
}

#XY {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

#start-game {
  margin: 2.5%;
}

#scout-name {
  margin-bottom: 5%;
}

#team-number {
  margin-bottom: 5%;
}

#auto-shots-high {
  margin-right: auto;
}

#auto-shots-low {
  margin-left: auto;
}

#auto-shots-miss {
  margin-right: 2.5%;
}

#auto-taxi {
  margin-left: 2.5%;
  margin-right: 5%;
}

#auto-undo {
  margin-left: 5%;
  margin-right: 2.5%;
}

#auto-advance {
  margin-left: 2.5%;
}

#tele-shots-high {
  margin-right: auto;
}

#tele-shots-low {
  margin-left: auto;
}

#tele-shots-miss {
  margin-right: 5%;
}

#tele-undo {
  margin-left: 5%;
  margin-right: 2.5%;
}

#tele-advance {
  margin-left: 2.5%;
}

#endgame-low-rung {
  align-self: flex-start;
  margin-bottom: 10%;
}

#endgame-mid-rung {
  align-self: flex-end;
}

#endgame-climb-fail {
  margin-left: 5%;
}

#endgame-high-rung {
  margin-bottom: 10%;
  align-self: flex-start;
}

#endgame-traversal-rung {
  align-self: flex-end;
}

#endgame-advance {
  margin-left: 5%;
}

.but-name {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  text-align: center;
}

.but-count {
  align-self: flex-end;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: center;
}

.hide-count {
  color: transparent;
}

.but-key {
  align-self: flex-end;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: center;
}
